@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url('../../dist/fonts/raleway-regular.woff') format('woff');
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  src: url('../../dist/fonts/raleway-semibold.woff') format('woff');
}

html, body {
  height: auto !important;
}

body {
  min-width: 350px;
  background-color: white;
  color: black;
  font-family: 'Raleway', Arial, 'Roboto', -apple-system, sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  text-transform: none;
  color: #244747;
}

h3 {
  font-size: 20px;
}

a {
  color: #244747;
  text-decoration: underline;
}

/* ant overrides */
.ant-form {
  width: 100%;
}

.ant-form .ant-btn {
  margin-top: 1.5rem;
}

.ant-btn.ant-btn-primary {
  background-color: #F5BE7F;
  padding: 0.5rem 1rem;
  color: #11292A;
  font-size: 13px;
  height: auto;
  border: 0;
  text-shadow: none;
  box-shadow: none;
}

.ant-form-item:last-child:not(:only-child) {
  margin-bottom: 0;
}

.ant-form-item {
  margin-bottom: 0.75rem;
}

.ant-form-item .ant-form-item-label {
  padding: 0 !important;
}

.ant-form-item-label > label {
  color: #244747 !important;
  font-weight: 600;
  height: auto;
  margin-bottom: 0.35rem !important;
  font-size: 13px;
}

.ant-form-item-label > label.ant-form-item-required::before {
  color: #244747;
  position: absolute;
  right: -10px;
}

.ant-layout-content {
  padding: 20px 25px;
  background-color: white;
}

.ant-layout-header {
  background-color: #11292A;
  color: white;
  padding: 0.75rem 25px;
  line-height: 1;
  height: auto;
}

.ant-layout-header .nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* Custom styles */
.teal-logo {
  height: 55px;
  max-width: 240px;
  margin-bottom: 20px;
}

.job-description-preview {
  color: black;
  font-style: italic;
}

.clickable:hover {
  cursor: pointer;
}

.success-message {
  background-color: #11292A;
  color: white;
  padding: 20px;
}

.success-message a {
  color:white;
  text-decoration: underline;
}

/* Login Screen */
.login-form {
  background-color: #11292A;
  padding: 25px;
}

.login-form .teal-logo {
  height: 32px;
  width: 32px;
  margin: 0.5rem auto 1rem;
  display: block;
}

.login-form h3 {
  color: #fff;
  text-align: center;
}

.login-form .ant-form-item-label > label {
  color: white !important;
}

/* About Screen */
.about-faq-container {
  font-size: 13px;
}

.about-faq-container h3 {
  border-bottom: 1px solid #dcdcdc;
  padding-bottom: 0.5rem;
  margin-bottom: 1.5rem;
}

.about-faq-container h3:not(:first-of-type) {
  margin-top: 2rem;
}

.about-faq-container p {
  margin-bottom: 1.25rem;
  line-height: 1.6;
  color: #244747;
}

.logout-link {
  position: absolute;
  right: 0;
  bottom: 0;
  color: #BE9369;
  text-decoration: underline;
}

.logout-link:hover {
  color: #BE9369;
}
